#!/bin/bash

# Exit immediately if a command exits with a non-zero status.
set -e

echo "› Installing packages..."

# --- Pacman Packages ---
{{- if .packages.pacman }}
echo "  › Installing pacman packages..."
sudo pacman -Syu --noconfirm {{ .packages.pacman | join " " }}
{{- end }}


# --- NPM Packages ---
{{- if .packages.npm }}
echo "  › Installing global npm packages..."
sudo npm install -g {{ .packages.npm | join " " }}
{{- end }}

# --- Curl Scripts and Shell Commands ---
{{- if .packages.curl_scripts }}
echo "  › Running installation scripts..."
{{- range .packages.curl_scripts }}
echo "    › Installing {{ .description }}..."
eval "{{ .command }}"
{{- end }}
{{- end }}

echo "✅ Installation complete!"

# FIXME: text show next-steps
# fixcit5-configtool
